.App {
  box-sizing: border-box;
  width: 934px;
  margin: 59px auto;
}

.Jogo {
  display: flex;
  justify-content: space-between;
}

.Jogo img {
  width: 400px;
  height: 466.67px;
}

.Jogo div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.Jogo button {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;
  width: 200px;
  height: 60px;
  margin-top: 30px;
  background-color: #27ae60;
  color: #ffffff;
  border-radius: 8px;
  border: 0px;
  cursor: pointer;
}

.Jogo p {
  font-family: Noto Sans;
  font-weight: 700;
  font-size: 50px;
  line-height: 68.1px;
}

.Letras {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 11px;
  margin: 70.33px auto 0;
  width: 664px;
}

.Letras .letra {
  width: 40px;
  height: 40px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
  border: 1px solid #7aa7c7;
  border-radius: 3px;
}

.corLetraAzul {
  color: #39739d;
}

.corLetraCinza {
  color: #798a9f;
}

.backgroundLetraCinza {
  background-color: #9faab5;
}

.backgroundLetraAzul {
  background-color: #e1ecf4;
}

.corPalavraVerde {
  color: #27ae60;
}

.corPalavraVermelha {
  color: #ff0000;
}

.Chute {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 56px auto 0;
}

.Chute p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.44px;
  margin-right: 12px;
}

.Chute input {
  width: 353px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin-right: 15px;
  font-size: 16px;
  padding-left: 10px;
}

.Chute button {
  width: 100px;
  height: 40px;
  border: 1px solid #7aa7c7;
  border-radius: 3px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.cursorPointer {
  cursor: pointer;
}
